@{
    ViewBag.Title = "Typing Classifier";
}
@section scripts
{
  <script type="text/javascript">
    'use strict'

    var now = getTimer();

    $(function() {
      var start
        , trapper
        , currentEvent
        , events = []
        , capturing = false;

      function resetTrapper() {
        if(trapper) { window.clearTimeout(trapper); }
        trapper = setTimeout(function() {
          capturing = false;
          console.log('stopped capturing');
        }, 1005);
      }

      function schedulePush() {
        setTimeout(function() {
          if(events && events.length > 0) {
            console.log('pushing to server...');
            var payload = {
              events: events.slice()
            };
            console.log(payload);
            $.ajax({
              url: 'http://localhost:51712/sink',
              type: 'POST',
              contentType: 'application/json; charset=utf-8',
              data: JSON.stringify(payload),
              dataType: 'json',
              success: function() { events = []; },
              error: function(e) { console.log(e); },
              processData: false
            });
          }
          schedulePush();
        }, 5000);
      }

      document.addEventListener('keydown', function(event) {
        resetTrapper();
        if(!capturing) {
          console.log('capturing...');
          capturing = true;
          start = now();
        }
        var t = now();
        currentEvent = {
          e: event.key,
          t: t
        };
      });

      document.addEventListener('keyup', function(event) {
        var up = now();
        currentEvent.d = up - currentEvent.t;
        events.push(currentEvent);
        console.log(currentEvent);
      });

      schedulePush();
    });

    function getTimer() {
      if(window.performance.now) {
        return function() { return window.performance.now(); };
      } else if(window.performance.webkitNow) {
        return function() { return window.performance.webkitNow(); }
      } else {
        return function() { return new Date().getTime(); }
      }
    }

  </script>
}
<div class="jumbotron">
    This will be our awesome typing classifier
</div>

<div class="row">
    Typing classifier goes here.

  <textarea></textarea>


	@Html.ActionLink("Go to results", "Results", "Home");
</div>