@{
    ViewBag.Title = "Typing Classifier";
}
@section scripts
{
  <script type="text/javascript">
    'use strict'

    $(function() {
      var start
        , trapper
        , currentEvent
        , session
        , events = []
        , capturing = false;

      function resetTrapper() {
        if(trapper) { window.clearTimeout(trapper); }
        trapper = setTimeout(function() {
          capturing = false;
          console.log('stopped capturing');
        }, 1005);
      }

      $('#score-btn').click(function() {
        var payload = {
          events: events.slice()
        };
        $.ajax({
          url: 'http://localhost:51712/sink',
          type: 'POST',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(payload),
          dataType: 'json',
          success: function() { events = []; clearText(); },
          error: function(e) { console.log(e); },
          processData: false
        });
      });

      function loop() {
        setTimeout(function() {
          if(isComplete()) {
            $('#score-btn').prop('disabled', false);
          }
        }, 200);

        loop();
      }

      document.addEventListener('keydown', function(event) {
        resetTrapper();
        if(!capturing) {
          console.log('capturing...');
          capturing = true;
          start = now();
        }
        if(event.repeat) {
          return;
        }
        var t = now();
        currentEvent = {
          e: event.key,
          t: t
        };
      });

      document.addEventListener('keyup', function(event) {
        var up = now();
        currentEvent.d = up - currentEvent.t;
        events.push(currentEvent);
        console.log(currentEvent);
      });

      loop();
    });

    function now() {
      if(window.performance.now) {
        return function() { return window.performance.now(); };
      } else if(window.performance.webkitNow) {
        return function() { return window.performance.webkitNow(); }
      } else {
        return function() { return new Date().getTime(); }
      }
    }

    function isComplete() {
      var text = $('#sentinel').text().trim();
      var input = $('#user-input').val().trim();
      return text === input;
    }

    function clearText() {
      $('#user-input').val('');
    }

  </script>
}
<main class="container body-content">
    <h4>Please submit the following input into our Freudian Psychoanalyzer:</h4>
    <p id="sentinel">
        For a long time I used to go to bed early. Sometimes, when I had put out my candle, my eyes would close so quickly that I had
        not even time to say “I’m going to sleep.” And half an hour later the thought that it was time to go to sleep would awaken me;
        I would try to put away the book which, I imagined, was still in my hands, and to blow out the light; I had been thinking all
        the time, while I was asleep, of what I had just been reading, but my thoughts had run into a channel of their own, until I myself
        seemed actually to have become the subject of my book: a church, a quartet, the rivalry between François I and Charles V.
        This impression would persist for some moments after I was awake; it did not disturb my mind, but it lay like scales upon my eyes
        and prevented them from registering the fact that the candle was no longer burning. Then it would begin to seem unintelligible, as the
        thoughts of a former existence must be to a reincarnate spirit; the subject of my book would separate itself from me, leaving me free
        to choose whether I would form part of it or no; and at the same time my sight would return and I would be astonished to find myself in
        a state of darkness, pleasant and restful enough for the eyes, and even more, perhaps, for my mind, to which it appeared incomprehensible,
        without a cause, a matter dark indeed.
    </p>
    <textarea id="user-input" class="input"></textarea>
    <button class="btn btn-primary" id="score-btn" disabled="true">Go to Results</button>
</main>