@{
    ViewBag.Title = "Typing Classifier";
}
@section scripts
{
  <script type="text/javascript">
    'use strict'

    $(function() {
      var start
        , trapper
        , currentEvent
        , session
        , events = []
        , capturing = false;

      function resetTrapper() {
        if(trapper) { window.clearTimeout(trapper); }
        trapper = setTimeout(function() {
          capturing = false;
          console.log('stopped capturing');
        }, 1005);
      }

      $('#score-btn').click(function() {
        var payload = {
          events: events.slice()
        };
        $.ajax({
          url: 'http://localhost:51712/sink',
          type: 'POST',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(payload),
          dataType: 'json',
          success: function() { events = []; clearText(); },
          error: function(e) { console.log(e); },
          processData: false
        });
      });

      function loop() {
        setTimeout(function() {
          if(isComplete()) {
            $('#score-btn').prop('disabled', false);
          }
        }, 200);

        loop();
      }

      document.addEventListener('keydown', function(event) {
        resetTrapper();
        if(!capturing) {
          console.log('capturing...');
          capturing = true;
          start = now();
        }
        if(event.repeat) {
          return;
        }
        var t = now();
        currentEvent = {
          e: event.key,
          t: t
        };
      });

      document.addEventListener('keyup', function(event) {
        var up = now();
        currentEvent.d = up - currentEvent.t;
        events.push(currentEvent);
        console.log(currentEvent);
      });

      loop();
    });

    function now() {
      if(window.performance.now) {
        return function() { return window.performance.now(); };
      } else if(window.performance.webkitNow) {
        return function() { return window.performance.webkitNow(); }
      } else {
        return function() { return new Date().getTime(); }
      }
    }

    function isComplete() {
      var text = $('#sentinel').text().trim();
      var input = $('#user-input').val().trim();
      return text === input;
    }

    function clearText() {
      $('#user-input').val('');
    }

  </script>
}
<div class="jumbotron">
    This will be our awesome typing classifier
</div>
<div class="row">
    Typing classifier goes here.

  <h3>Input</h3>
  <p>
    Please submit the following input into our Freudian Psychoanalyzer.
  </p>
  <p id="sentinel">
    Call me Ishmael.
  </p>
  <textarea id="user-input"></textarea>
  <button id="score-btn" disabled="true">Score</button>
</div>