@{
    ViewBag.Title = "Typing Profile Results";
}
@section scripts 
{
}

<main class="container body-content">
    <h4>Results</h4>
    <div id="chart"></div>
    <section>
        <span>I want to see</span>
        <select id="chart-x-axis">
            <option value="wpm" selected="selected">Words per minute</option>
            <option value="backspaces">Backspaces</option>
            <option value="deletes">Deletion Key Frequency</option>
            <option value="averageKeyPressDuration">Avg Keypress Duration</option>
            <option value="averageTimeBetweenKeystrokes">Avg Time Between Keystrokes</option>
        </select>
        <span>versus</span>
        <select id="chart-y-axis">
			<option value="wpm">Words per minute</option>
			<option value="backspaces">Backspaces</option>
			<option value="deletes">Deletion Key Frequency</option>
			<option value="averageKeyPressDuration" selected="selected">Avg Keypress Duration</option>
			<option value="averageTimeBetweenKeystrokes">Avg Time Between Keystrokes</option>
        </select>
    </section>
</main>