@{
    ViewBag.Title = "Typing Profile Results";
}
@section scripts 
{
  <script type="text/javascript">
    $(function() {
      var points
        , features;

      $.getJSON('/sink/points', function(data) {
        points = data;
        features = {
          wpm: ['WPM'].concat(points[0].Values),
          backspaces: ['Backspaces'].concat(points[1].Values),
          deletes: ['Deletes'].concat(points[2].Values),
          averageKeyPressDuration: ['AverageKeyPressDuration'].concat(points[3].Values),
          averageTimeBetweenKeystrokes: ['AverageTimeBetweenKeystrokes'].concat(points[4].Values)
        };
        console.log(data);
        console.log(features);
        render();
      });

      function render() {
        c3.generate({
          bindto: '#chart',
          data: {
            columns: [features.wpm, features.averageKeyPressDuration],
            type: 'scatter'
          },
        });
      }      
    });
  </script>
}

<main class="container body-content">
    <h4>Results</h4>
    <div id="chart"></div>
    <section>
        <span>I want to see</span>
        <select id="dropdown-1">
            <option value="setosa">Total Time</option>
            <option value="versicolor">Spaces</option>
            <option value="setosa">Deletion Key Frequency</option>
            <option value="setosa">Keypress Duration</option>
            <option value="setosa">Words Per Minute</option>
        </select>
        <span>combined with</span>
        <select id="dropdown-2">
            <option value="setosa">Total Time</option>
            <option value="versicolor">Spaces</option>
            <option value="setosa">Deletion Key Frequency</option>
            <option value="setosa">Keypress Duration</option>
            <option value="setosa">Words Per Minute</option>
        </select>
    </section>
</main>