/*************************************/
/***** base styles  & typography *******/
/*************************************/

body {
    font-family: 'Cousine', monospace;
}

h1, h2, h3, h4{
    font-family: 'Cousine', monospace;
    font-weight:bold;
    letter-spacing:1px;
}

.h--main{
font-size:25px;
}

/*************************************/
/************ components ************/
/*************************************/

.input{
    display:block;
    width:100%;
    max-width:none;
    min-height:350px;
}

.input:focus {
    outline: none !important;
    border:1px solid #444;
    box-shadow: none;
}

.header--main{
    margin-bottom:30px;
    background:#444;
    padding:3px;
    color:#eee;
}

.btn{
    margin-top:10px;
    margin-bottom:10px;
}
.btn-primary{
    background:#F95759;
    border:none;
}

.btn-primary[disabled]{
    background:rgba(128, 128, 128, 0.52);
    border:none;
}

section{
    padding-top:10px;
    padding-bottom:10px;
}

/*************************************/
/************ utility classes ************/
/*************************************/

.margin--small{
    margin:10px;
}

.margin--medium{
    margin:20px;
}

.margin--large{
    margin:20px;
}

.padding--small{
    margin:10px;
}

.padding--medium{
    margin:20px;
}

.padding--large{
    margin:20px;
}

/*************************************/
/************ page sections ************/
/*************************************/

